<div class="m-10">
  <div class="m-5 border-4 border-white shadow rounded">
    <div class="grid lg:grid-cols-{{ligne1.length}} sm:grid-cols-2">
      <app-salles *ngFor="let salle of ligne1" [salle]="salle" (click)="onSelect(salle)"></app-salles>
    </div>
    <!-- couloir -->
    <div class="m-10 text-center text-white">
      <span class="text-4xl bg-green-400 rounded-full rounded-tr-none p-3 shadow-xl border-4 border-white">Bat 18 / 1er Étage </span>
      <span class="text-4xl bg-green-400 rounded-full rounded-tr-none ml-8 p-3 shadow-xl border-4 border-white">{{pourcent()}} % </span>

    </div>

    <div class="grid lg:grid-cols-{{ligne2.length}} sm:grid-cols-2">
      <app-salles *ngFor="let salle of ligne2" [salle]="salle" (click)="onSelect(salle)"></app-salles>
    </div>

    <!-- détails -->
    <div class="bg-white rounded m-2 p-1" *ngIf="selectSalle"><span>Nom de la salle: {{selectSalle.nom}}</span>
    <span *ngFor="let ilot of selectSalle.ilots"><span> || Numéro d'ilot: {{ilot.numero}}</span></span>
    </div>
  </div>
</div>

